<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/machd/IdeaProjects/NoonProject">
        <classes>
            <class name="SearchByKeywordAndCheckoutTestCase">
                <methods>
                    <include name="SearchByKeyWord"></include>
                </methods>
            </class>
            <class name="SearchByCategoryTestCase">
                <methods>
                    <include name="SearchByCategory"></include>
                </methods>
            </class>


        </classes>

    </test>
</suite>